* {
  font-size: inherit;
  margin-block-end: 0;
  margin-block-start: 0;
  margin-inline-end: 0;
  margin-inline-start: 0;
  padding-block-end: 0;
  padding-block-start: 0;
  padding-inline-end: 0;
  padding-inline-start: 0;
}

html {
  background-color: #fefefe;
  box-sizing: border-box;
  font-size: 12px;
}

body {
  font-family: Roboto, Noto, "San Francisco", Ubuntu, "Segoe UI", "Fira Sans", message-box, Arial, sans-serif;
  inline-size: 300px;
  max-inline-size: 300px;
}

.hidden {
  display: none;
}
