html {
  color: #333;
  font: message-box;
}

body {
  font-size: 1.25rem;
}

h1 {
  font-size: 2rem;
  font-weight: normal;
}

.options {
  align-items: center;
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: 260px auto;
}

.hidden {
  display: none;
}
